	<h1>New Recipe</h1>

<%= form_for @recipe do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>

  <h3>Ingredients</h3>

  <%= f.fields_for :ingredients do |i| %>
    <%= i.label :name %>
    <%= i.text_field :name %>
    <br>

    <%= i.label :quantity %>
    <%= i.text_field :quantity %>
    <br>
    <br>
  <% end %>

  <%= f.submit %>
<% end %>